<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Champion Data</title>
    <link rel="stylesheet" href="/static/updatedata.css">
</head>
<body>

    <nav class="nav-bar">
        <div class="nav-buttons-container">
            <a href="/" class="home-button">Home</a>
            <a href="/championranking/0" class="ranking-button">Ranking</a>
            <div class="search-wrapper">
                <input type="text" id="searchbar" placeholder="Search Champions">
                <div class="search-results">
                    {% for champion in searchbar %}
                        <a href="/champions/{{champion[0]}}/{{champion[1]}}" class="champion-link" data-name="{{champion[2].lower()}}">
                            <img src="/static/Images/{{champion[2]}}/icon.png"/>
                            {{champion[2]}}
                        </a>
                    {% endfor %}
                    <p id="matches-text">No matches found</p>
                </div>
            </div>
    </nav>

    <label for="champion-select">Select Champion:</label>
    <select id="champion-select">
        <option>-- Choose a Champion --</option>
        {% for champ in champions %}
            <option value="{{ champ[0] }}">{{ champ[1] }}</option>
        {% endfor %}
    </select>

    <div id="lane-select-container">
        <label for="lane-select">Select Lane:</label>
        <select id="lane-select">
            <option>-- Choose a Lane --</option>
        </select>
    </div>

    <form id="champion-form" class="champion-form">
        <input type="hidden" id="champ_id" name="champ_id" />
        <input type="hidden" id="lane_id" name="lane_id" />

        <label>Winrate (%)</label>
        <input type="number" step="any" id="winrate" />

        <label>Pickrate (%)</label>
        <input type="number" step="any" id="pickrate" />

        <label>Banrate (%)</label>
        <input type="number" step="any" id="banrate" />

        <button type="submit">Update Champion Stats</button>
    </form>

    <p id="status"></p>

    <script src="/static/updatedata.js"></script>
</body>
</html>
